@import "compass/css3";

$text-color: rgb(77, 77, 77);
$bg-entry: darksalmon;

*,*:after,*:before{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.date-post{
  color: #aaa;
  font-weight: 300;
  
  &.text{
    text-align: right;
    padding-right: 1em;
  }
}

.img-header{
  position: relative;
  left: 18px;
  width: 900px;
  height: 200px;
  padding-bottom: 1em;
}

.right-side{
  float: right;
  padding-right: 2em;
  
 .profile{
    width: 105px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
  }
  
  .name{
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
    color: $bg-entry;
  }
  
  .about{
    color: gainsboro;
    font-size: 0em;
  }
  
  .icons{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    color: $bg-entry;
    text-align: center;
  }
  
  hr{
    border: 1px solid $bg-entry;
  }
  
  .fa.fa-home{
    padding-top: 0.5em;
    font-size: 2em;
    color: $bg-entry;
  }
  
}

.main-page{
  width: 1000px;
  height: auto;
  margin:0 auto;
  padding-top: 3em;
  padding-left: 2em;
  padding-bottom: 2em;
  font-family: "Courier New", Courier, monospace;
}

.timeline {
  border-right: thick dashed $bg-entry;
  float: left;
  margin: 0px auto;
  max-width: 44em;
  overflow:hidden;
  height: auto;
  position: relative;
  padding:0px;
  list-style-type:none;

.ad {
  display: block;
  background: rgba(50,50,50,0.5);
  color: white;
  text-decoration: none;
  text-align:center;
  padding: 15px;
  font-weight: 800;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

a{
text-decoration:none;
color:black;
}
}

/* 
    elements 1,(2),3,(4), etc.
    elements in brackets inherit these properties, some are overridden below (2n)
    beginning at 0
  */
  .event {
    position:relative;
    text-align:center;
    float: right;
    clear: right; 
    width: 45%;
    margin: 1em 2.5%;
    
    border-radius: 5px;
    list-style-type: none;
    display: block;
    padding: .4em;
    background: white;
    z-index: 15;
    
    color: $text-color;
    border-left: 4px solid $bg-entry;
    border-right: 4px solid $bg-entry;
    text-decoration: none;

    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
    -ms-transition: background .15s linear;
    -o-transition: background .15s linear;
    transition: background .15s linear;
    
    font-size: 1.2em;
    font-weight: 500;
    
    &.featured {
      width: 95% !important;
      &:after, &:before {
        display: none;
      }
    }
    
    @media all and (max-width: 600px) {
      width: 85%;
    }    
    
    &.offset-first {
      margin-top: -1.5em!important;
    }
    
    img {
      margin-top: 10px;
      max-width: 100%;
    }
    
    &:nth-of-type(2n) {
      float: left;
      clear: left;
        @media all and(min-width:600px){
          margin-top:2em;
        }
    }
      
    &:after {      
      @media all and (min-width: 650px) {
        display: block;
        content: ' ';
        height: 9px; width: 9px;
        background: lighten($bg-entry,30%);
        border-radius: 50%;
        position:absolute;
        left: -5%;
        top: 1.5em;
        border: 2px solid white;
      }
    }
      
    &:nth-child(2n):after {
      right: -5%;
      /* reset the standard declaration I defined before*/
      left: auto;
    }
  }

.footer{
  clear: both;
}

.post {
    float: left;
    margin: 0px auto;
    width: 699px;
    overflow:hidden;
    height: auto;
    position: relative;
    padding:0px;
    border-right: thick dashed $bg-entry;
    margin-left: 1em;
  
    h2 {
      font-size: 36px;
      text-align: center;
      padding-bottom: 0em;
    }
  
    h3{
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    }
    
    .text-post{
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      padding-right: 1em;
      font-size: 21px;
    }

    .img-post{

    }

    .img-page-post {
      width: 700px;
      height: 50px;
    }

  }
